# Titanic competition

## "What sorts of people were likely to survive?"
___

### Link alla competition : https://www.kaggle.com/c/titanic

### Import delle librerie

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

___

### Import del dataset

In [2]:
dataset = pd.read_csv('train.csv')

In [3]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

___

### Stampo una descrizione dei campi del dataset

In [4]:
dataset.describe() # per i valori numerici

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* è possibile osservare la presenza di valori nulli nel campo Age

In [5]:
dataset.describe(include = ['O']) # per i valori contenenti stringhe

                             Name   Sex    Ticket        Cabin Embarked
count                         891   891       891          204      889
unique                        891     2       681          147        3
top     Graham, Mr. George Edward  male  CA. 2343  C23 C25 C27        S
freq                            1   577         7            4      644

* è possibile osservare la presenza di valori nulli nel campo Cabin e nel campo Embarked

___

### Analizzo le feature tramite ispezione

* Analizzo la feature **Age**

In [6]:
dataset[['Age', 'Survived']].groupby(['Age'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

      Age  Survived
0    0.42  1.000000
9    5.00  1.000000
79  63.00  1.000000
68  53.00  1.000000
1    0.67  1.000000
17  13.00  1.000000
16  12.00  1.000000
87  80.00  1.000000
2    0.75  1.000000
4    0.92  1.000000
3    0.83  1.000000
7    3.00  0.833333
20  15.00  0.800000
5    1.00  0.714286
8    4.00  0.700000
10   6.00  0.666667
63  48.00  0.666667
64  49.00  0.666667
47  35.00  0.611111
35  27.00  0.611111
74  58.00  0.600000
31  24.00  0.500000
65  50.00  0.500000
70  55.00  0.500000
72  56.00  0.500000
76  60.00  0.500000
78  62.00  0.500000
43  32.50  0.500000
42  32.00  0.500000
67  52.00  0.500000
..    ...       ...
13   9.00  0.250000
15  11.00  0.250000
27  21.00  0.208333
25  20.00  0.200000
57  43.00  0.200000
50  37.00  0.166667
62  47.00  0.111111
84  70.50  0.000000
83  70.00  0.000000
80  64.00  0.000000
81  65.00  0.000000
85  71.00  0.000000
86  74.00  0.000000
75  59.00  0.000000
77  61.00  0.000000
82  66.00  0.000000
40  30.50  0.000000
14  10.00  0.000000
73  57.00  0.000000
71  55.50  0.000000
19  14.50  0.000000
61  46.00  0.000000
60  45.50  0.000000
32  24.50  0.000000
54  40.50  0.000000
37  28.50  0.000000
49  36.50  0.000000
46  34.50  0.000000
26  20.50  0.000000
30  23.50  0.000000

[88 rows x 2 columns]

*Si può notare come la maggior parte dei bambini sia sopravvissuto*
***

* Analizzo la feature **Sex**

In [7]:
dataset[['Sex', 'Survived']].groupby(['Sex'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

* Rendo binaria la feature

In [8]:
dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

*Si può notare come la maggior parte dei sopravvissuti sia di sesso femminile*
***

* Analizzo la feature **Pclass** (Passenger Class)

In [9]:
dataset[['Pclass', 'Survived']].groupby(['Pclass'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

*Si può notare come i passeggeri di prima classe siano sopravvissuti in maggior numero rispetto quelli di seconda e di terza*
***

* Analizzo la feature **SibSp** (Siblings/Spouses - Fratelli/Coniugi)

In [10]:
dataset[['SibSp', 'Survived']].groupby(['SibSp'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

* In questo caso i dati non sono molto significativi

* Analizzo la feature **Parch** (Parents/Children - Genitori/Figli)

In [11]:
dataset[['Parch', 'Survived']].groupby(['Parch'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

* Anche in questo caso i dati non sono molto significativi

* Tuttavia, poiché il campo SibSp e Parch hanno un significato "simile" si può pensare di sommarli per ottenere il numero di componenti della famiglia presenti nella nave per distinguere chi viaggia da solo da chi è con la famiglia

In [12]:
dataset['Family_Size'] = dataset['SibSp'] + dataset['Parch'] + 1

* Rendo Family_Size binaria

In [13]:
dataset['Is_Alone'] = 0
dataset.loc[dataset['Family_Size'] == 1, 'Is_Alone'] = 1

In [14]:
dataset[['Is_Alone', 'Survived']].groupby(['Is_Alone'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

   Is_Alone  Survived
0         0  0.505650
1         1  0.303538

*Adesso si può notare come, effettivamente, chi viaggiava da solo ha avuto più probabilità di sopravvivere *
***

* Analizzo la feature **Cabin**

In [15]:
dataset[['Cabin', 'Survived']].groupby(['Cabin'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

       Cabin  Survived
73   C62 C64       1.0
97       D21       1.0
94       D17       1.0
95       D19       1.0
60      C148       1.0
96       D20       1.0
58      C126       1.0
57      C125       1.0
127      E40       1.0
111      D56       1.0
116     E101       1.0
125      E36       1.0
130      E49       1.0
51      C106       1.0
50      C104       1.0
49      C103       1.0
48      C101       1.0
47   B96 B98       1.0
131      E50       1.0
99       D28       1.0
93       D15       1.0
65       C32       1.0
87       C93       1.0
77       C70       1.0
118     E121       1.0
84       C90       1.0
119      E17       1.0
120      E24       1.0
81       C85       1.0
117      E12       1.0
..       ...       ...
26       B38       0.0
25       B37       0.0
23       B30       0.0
16      B102       0.0
52      C110       0.0
14        A7       0.0
12        A5       0.0
11       A36       0.0
9        A32       0.0
6        A24       0.0
3        A19       0.0
46       B94       0.0
53      C111       0.0
108      D48       0.0
82       C86       0.0
106      D46       0.0
100      D30       0.0
98       D26       0.0
88       C95       0.0
85       C91       0.0
83       C87       0.0
79       C82       0.0
54      C118       0.0
1        A14       0.0
69       C49       0.0
67       C46       0.0
64       C30       0.0
59      C128       0.0
56      C124       0.0
146        T       0.0

[147 rows x 2 columns]

* Posti in questo modo i dati sono poco significativi. Sarebbe più interessante distinguere tra i passeggeri con una cabina e quelli senza

* Creo una colonna chiamata "Has_Cabin" che conterrà il valore 1 se il passeggero corrispondente ha la cabina, 0 altrimenti

In [16]:
dataset['Has_Cabin'] = dataset['Cabin'].apply(lambda p : 0 if type(p) == float else 1)

In [17]:
dataset[['Has_Cabin', 'Survived']].groupby(['Has_Cabin'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

   Has_Cabin  Survived
1          1  0.666667
0          0  0.299854

*Adesso si può notare come, effettivamente, i passeggeri che avevano una cabina se la sono cavata meglio di quelli senza *
***

* Analizzo la feature **Embarked**

In [18]:
dataset[['Embarked', 'Survived']].groupby(['Embarked'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

*Si può notare come chi si è imbarcato a Cherbourg ha avuto più chance di sopravvivere rispetto gli altri *
***

* Analizzo la feature **Fare**

In [19]:
dataset[['Fare', 'Survived']].groupby(['Fare'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

         Fare  Survived
247  512.3292       1.0
196   57.9792       1.0
89    13.8583       1.0
88    13.7917       1.0
86    13.4167       1.0
83    12.6500       1.0
81    12.4750       1.0
79    12.2875       1.0
194   56.9292       1.0
77    12.0000       1.0
195   57.0000       1.0
74    11.1333       1.0
197   59.4000       1.0
52     8.5167       1.0
201   63.3583       1.0
202   65.0000       1.0
68     9.8417       1.0
204   69.3000       1.0
207   71.2833       1.0
209   75.2500       1.0
210   76.2917       1.0
211   76.7292       1.0
213   77.9583       1.0
214   78.2667       1.0
90    13.8625       1.0
191   55.4417       1.0
190   55.0000       1.0
188   52.5542       1.0
142   26.3875       1.0
141   26.2875       1.0
..        ...       ...
158   31.2750       0.0
136   25.9250       0.0
156   30.6958       0.0
147   27.9000       0.0
148   28.5000       0.0
113   18.0000       0.0
176   40.1250       0.0
198   61.1750       0.0
95    14.4583       0.0
71    10.4625       0.0
73    10.5167       0.0
76    11.5000       0.0
78    12.2750       0.0
82    12.5250       0.0
84    12.8750       0.0
91    14.0000       0.0
92    14.1083       0.0
93    14.4000       0.0
97    15.0000       0.0
112   17.8000       0.0
98    15.0458       0.0
99    15.0500       0.0
184   50.4958       0.0
183   50.0000       0.0
100   15.1000       0.0
103   15.5500       0.0
180   47.1000       0.0
179   46.9000       0.0
178   42.4000       0.0
124   21.0750       0.0

[248 rows x 2 columns]

In [20]:
dataset['Fare_Per_Person'] = dataset['Fare']/dataset['Family_Size']

*In questo caso non notiamo alcun dato significativo, posso provare ad ottenere la Fare_Per_Person dividendo la Fare per il numero di familiari presenti a bordo *
___

* Analizzo la feature **Ticket**

In [21]:
dataset[['Ticket', 'Survived']].groupby(['Ticket'], as_index = False).mean().sort_values(by = 'Survived', ascending = False)

     Ticket  Survived
0    110152       1.0
180   26360       1.0
483  386525       1.0
479  382651       1.0
151  244373       1.0
152  248698       1.0
153  248706       1.0
465  370375       1.0
157  248733       1.0
158  248738       1.0
464  370373       1.0
461  370370       1.0
162  250644       1.0
454   36947       1.0
165  250648       1.0
166  250649       1.0
453   36928       1.0
168  250652       1.0
451   36866       1.0
445  367231       1.0
171    2620       1.0
444  367230       1.0
442  367228       1.0
174    2625       1.0
175    2626       1.0
441  367226       1.0
432  364516       1.0
484  392091       1.0
486  392096       1.0
489    4134       1.0
..      ...       ...
356  349209       0.0
355  349208       0.0
378  349239       0.0
380  349241       0.0
190    2662       0.0
381  349242       0.0
404  350042       0.0
403  350036       0.0
402  350035       0.0
192    2664       0.0
400  350029       0.0
399  350026       0.0
398  350025       0.0
397  349912       0.0
396  349910       0.0
395  349909       0.0
394  349257       0.0
193    2665       0.0
392  349254       0.0
391  349253       0.0
390  349252       0.0
389  349251       0.0
388  349249       0.0
387  349248       0.0
386  349247       0.0
385  349246       0.0
384  349245       0.0
197    2669       0.0
382  349243       0.0
340  347464       0.0

[681 rows x 2 columns]

*Anche in questo caso non notiamo alcun dato significativo *
___

* Analizzo la feature **Name**

* In particolare l'idea è quella di dedurre dal titolo (Mr., Master, Miss, Mrs.) l'età approssimativa del passeggero per poi coprire in maniera appropriata i missing values nel campo Age

In [22]:
dataset['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, dtype: object

* Sono presenti diversi titoli oltre i 4 nominati sopra, quindi riconduco la situazione a quella desiderata

In [23]:
# la lista dei prefissi presenti nel dataset

title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

In [24]:
# definisco una funzione per identificare il titolo di un passeggero

import string

def check_title(name, title_list):
    for title in title_list:        
        if(string.find(name, title) != -1):
            return title
    return np.nan

In [25]:
# creo la colonna Title

dataset['Title'] = dataset['Name'].map(lambda p : check_title(p, title_list))

In [26]:
# definisco una funzione per rimpiazzare i prefissi con i 4 prescelti

def replace_titles(x):
    title=x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title

In [27]:
# applico i 4 prefissi prescelti a luogo di tutti gli altri

dataset['Title'] = dataset.apply(replace_titles, axis = 1)

___

### Missing Values

* Copro i missing values di **Age** (prevedendo, in base al titolo del passeggero, l'età dello stesso)

In [28]:
mr_mean = dataset['Age'][dataset['Title'] == 'Mr'].mean()

In [29]:
master_mean = dataset['Age'][dataset['Title'] == 'Master'].mean()

In [30]:
miss_mean = dataset['Age'][dataset['Title'] == 'Miss'].mean()

In [31]:
mrs_mean = dataset['Age'][dataset['Title'] == 'Mrs'].mean()

In [32]:
dataset.loc[dataset['Title'] == 'Mr', 'Age'] = mr_mean
dataset.loc[dataset['Title'] == 'Master', 'Age'] = master_mean
dataset.loc[dataset['Title'] == 'Miss', 'Age'] = miss_mean
dataset.loc[dataset['Title'] == 'Mrs', 'Age'] = mrs_mean

* Rendo binaria la feature **Age** (1 se l'età è maggiore di 15, 0 altrimenti)

In [33]:
dataset.loc[dataset['Age'] <= 15, 'Age'] = 0
dataset.loc[dataset['Age'] > 15, 'Age'] = 1

* Copro i missing values di **Embarked**, assegnando alle 2 celle vuote il valore più frequente

In [34]:
freq_value = dataset.Embarked.dropna().mode()[0]
dataset['Embarked'] = dataset['Embarked'].fillna(freq_value)

* Rappresento le features categoriche **Pclass** e **Embarked** sotto forma di vettori binari

In [35]:
v_embarked = pd.get_dummies(dataset['Embarked'])
v_pclass = pd.get_dummies(dataset['Pclass'])
dataset = pd.concat([dataset, v_embarked], axis = 1)
dataset = pd.concat([dataset, v_pclass], axis = 1)

* Trasforma da **Object** in stringa i seguenti oggetti

In [36]:
dataset['Name'] = dataset['Name'].astype('|S')
dataset['Ticket'] = dataset['Ticket'].astype('|S')
dataset['Cabin'] = dataset['Cabin'].astype('|S')
dataset['Embarked'] = dataset['Embarked'].astype('|S')

In [37]:
dataset.head() # il dataset dopo tutte le elaborazioni

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Is_Alone,Has_Cabin,Fare_Per_Person,Title,C,Q,S,1,2,3
0,1,0,3,"Braund, Mr. Owen Harris",0,1.0,1,0,A/5 21171,7.2500,...,0,0,3.62500,Mr,0.0,0.0,1.0,0.0,0.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1.0,1,0,PC 17599,71.2833,...,0,1,35.64165,Mrs,1.0,0.0,0.0,1.0,0.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,1.0,0,0,STON/O2. 3101282,7.9250,...,1,0,7.92500,Miss,0.0,0.0,1.0,0.0,0.0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1.0,1,0,113803,53.1000,...,0,1,26.55000,Mrs,0.0,0.0,1.0,1.0,0.0,0.0
4,5,0,3,"Allen, Mr. William Henry",0,1.0,0,0,373450,8.0500,...,1,0,8.05000,Mr,0.0,0.0,1.0,0.0,0.0,1.0

____

### Classification

In [38]:
import graphlab as gl

In [39]:
dataset = gl.SFrame(data = dataset)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Andy\AppData\Local\Temp\graphlab_server_1511715252.log.0

This non-commercial license of GraphLab Create for academic use is assigned to and.deangelis2@stud.uniroma3.it and will expire on March 08, 2018.

In [40]:
c_features = ['Age', 'Sex', 'Pclass', 'C', 'Q', 'S', '1', '2', '3', 'Has_Cabin', 'Is_Alone', 'Embarked', 'Fare_Per_Person']

In [41]:
# definisco la funzione per stabilire l'accuracy di un modello
def get_accuracy(model, data, true_labels):
    predictions = model.predict(data)
    num_correct = sum(predictions == true_labels)
    accuracy = num_correct*1.0/len(data)
    
    return accuracy

#### Decision tree classifier

In [42]:
decision_tree_classifier = gl.decision_tree_classifier.create(dataset, target = 'Survived',
                                                             features = c_features, validation_set = None)

Decision tree classifier:

--------------------------------------------------------

Number of examples          : 891

Number of classes           : 2

Number of feature columns   : 13

Number of unpacked features : 13

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.002004     | 0.868687          | 0.551409          |

+-----------+--------------+-------------------+-------------------+

In [43]:
d_trees_accuracy = get_accuracy(decision_tree_classifier, dataset, dataset['Survived'])

In [44]:
d_trees_accuracy

0.8686868686868687

#### Boosted trees classifier

In [45]:
boosted_tree_classifier = gl.boosted_trees_classifier.create(dataset, target = 'Survived',
                                                             features = c_features, validation_set = None)

Boosted trees classifier:

--------------------------------------------------------

Number of examples          : 891

Number of classes           : 2

Number of feature columns   : 13

Number of unpacked features : 13

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.002001     | 0.868687          | 0.551409          |

| 2         | 0.004003     | 0.869809          | 0.471896          |

| 3         | 0.006004     | 0.874299          | 0.424011          |

| 4         | 0.007005     | 0.872054          | 0.390564          |

| 5         | 0.009006     | 0.876543          | 0.367714          |

| 6         | 0.011008     | 0.878788          | 0.350483          |

+-----------+--------------+-------------------+-------------------+

In [46]:
boost_accuracy = get_accuracy(boosted_tree_classifier, dataset, dataset['Survived'])

In [47]:
boost_accuracy

0.8877665544332211

#### SVM classifier

In [48]:
svm_classifier = gl.svm_classifier.create(dataset, target = 'Survived', features = c_features,
                                                             validation_set = None, max_iterations = 50)

SVM:

--------------------------------------------------------

Number of examples          : 891

Number of classes           : 2

Number of feature columns   : 13

Number of unpacked features : 13

Number of coefficients    : 15

Starting L-BFGS

--------------------------------------------------------

+-----------+----------+-----------+--------------+-------------------+

| Iteration | Passes   | Step size | Elapsed Time | Training-accuracy |

+-----------+----------+-----------+--------------+-------------------+

| 1         | 3        | 0.001122  | 0.002001     | 0.698092          |

| 2         | 5        | 1.000000  | 0.005003     | 0.742985          |

| 3         | 6        | 1.000000  | 0.006004     | 0.766554          |

| 4         | 7        | 1.000000  | 0.007005     | 0.774411          |

| 5         | 8        | 1.000000  | 0.009007     | 0.791246          |

| 6         | 9        | 1.000000  | 0.010007     | 0.786756          |

| 11        | 16       | 1.000000  | 0.018013     | 0.786756          |

+-----------+----------+-----------+--------------+-------------------+

TERMINATED: Iteration limit reached.

This model may not be optimal. To improve it, consider increasing `max_iterations`.

In [49]:
svm_accuracy = get_accuracy(svm_classifier, dataset, dataset['Survived'])

In [50]:
svm_accuracy

0.792368125701459

#### Logistic classifier

In [51]:
logistic_classifier = gl.logistic_classifier.create(dataset, target = 'Survived',
                                                             features = c_features, validation_set = None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 891

Number of classes           : 2

Number of feature columns   : 13

Number of unpacked features : 13

Number of coefficients    : 15

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

In [52]:
log_accuracy = get_accuracy(logistic_classifier, dataset, dataset['Survived'])

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.003001     | 0.802469          |

| 2         | 3        | 0.005003     | 0.822671          |

| 3         | 4        | 0.007004     | 0.821549          |

| 4         | 5        | 0.009006     | 0.821549          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [53]:
log_accuracy

0.8215488215488216